@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
/*font-family: 'Outfit', sans-serif;*/

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: hsl(217, 54%, 11%);
    color: white;
    display: flex;
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.card{
    background-color: hsl(216, 50%, 16%);
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.261);
}
.image{
    position: relative;
}
.image2:hover{
    opacity: 1;
    transition: 2s;
}
.img1{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.image2{
    position: absolute;
    background-color: hsla(178, 100%, 50%, 0.63);
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 10px;
}
.img2{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}
.title{
    margin-top: 1rem;
    margin-bottom: 1.0rem;
}
.title:hover{
    color: hsl(178, 100%, 50%);
    transition: 1s;
    cursor: pointer;
}
.tx1{
    margin-bottom: 1.5rem;
    color: hsl(215, 51%, 70%);

}
.values{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.072);
}
.pt1{
    display: flex;
    align-items: center;
}
.pt2{
    display: flex;
    align-items: center;
}
.z1{
    padding-left: 5px;
    color: hsl(178, 100%, 50%);
}
.z2{
    padding-left: 5px;
    color: hsl(215, 51%, 70%);
}
footer{
    display: flex;
    padding-top: 1rem;
    align-items: center;
}
.x{
height: 30px;
border: 1px solid white;
border-radius: 50%;

}
.tx2{
    font-weight: 300;
    padding-left: 10px;
    color: hsl(215, 51%, 70%);
}

.r1{
    text-decoration: none;
    color: white;
}
.r1:hover{
    color: hsl(178, 100%, 50%);
    transition: 1s;
}